* {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header {
    padding: 30px;
    text-align: center;
    color: midnightblue;
    background-image: url("back.jpg");
}

.header h1 {
    font-size: 4rem;
}

.topnav {
    overflow: hidden;
    background-color: #87D7FF;
}

.topnav a {
    float: left;
    display: block;
    color: #505DCF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.style-text {
    color: darkslategrey;
    font-size: 14px;
}

.style-aboutUS {
    color: indigo;
    font-family: cursive;
    font-size: 18px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}


@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Адаптивный макет: два столбца располагаются друг над другом, а не рядом друг с другом */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}



.flex-container {
    display: flex;
    align-items: revert;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}
.box {
    padding: 15px;
    margin: 15px;
    text-align: center;

}

button {
    background-color: mediumslateblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.big-hero{
    width: 500px;
    height: auto;
}
.style-text{
    text-align: center;
    font-size: 18px;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.bron {
    display: inline;
    list-style: none;
}