* {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header {
    padding: 30px;
    text-align: center;
    color: midnightblue;
    background-image: url("back.jpg");
}

.header h1 {
    font-size: 4rem;
}

.topnav {
    overflow: hidden;
    background-color: #87D7FF;
}

.topnav a {
    float: left;
    display: block;
    color: #505DCF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.style-text {
    color: darkslategrey;
    font-size: 14px;
}

.style-aboutUS {
    color: indigo;
    font-family: cursive;
    font-size: 18px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 15px 50px 30px;
    border: 2px solid #191970;
    padding: 5px;
    margin: 5px;
}

.flex-container .box {
    font-family: cursive;
    width: 50%;
    margin: 10px;

    line-height: 50px;
    font-size: 18px;

}

button {
    background-color: mediumslateblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.tartaglia {
    width: 50%;
    height: auto;
    float: right;
}